.navbar {
    display: flex;
    align-items: center;
    position: relative;
    padding: 2rem 6rem;
}

.navbar-link {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-link img {
    width: auto;
    height: 80px;
}

.navbar-links-container {
    display: flex;
    flex-direction: row;
}

.navbar-links-container p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1.5rem;
    cursor: pointer;
}

.navbar-links-container p a {
    color: #fff;
}

.navbar-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-right p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-right: 10px;
}

.navbar-right button {
    display: flex;
    margin-left: 15px;
    background: var(--color-subtext);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    justify-content: center;
    align-items: center;
    outline: none;
}


.navbar-right button p {
    color: var(--color-bg);
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 14px;
    line-height: 18px;
    margin-left: 10px;
}


/* ----------------------------------------------
 TOGGLE MENU
 * ---------------------------------------------- */

.toggle-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
}

.toggle-menu svg {
    cursor: pointer;
}

.toggle-menu-container {
  top: 40px;
  right: 0;
  background: url('../../assets/board-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  padding: 2rem;
  position: absolute;
  margin-top: 1rem;
  border-radius: 3px;
  min-width: 350px;
}

.toggle-menu-container-links {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.toggle-menu-container-links p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 2rem;
}

.toggle-menu-container-links p a {
    color: #fff;
}

.toggle-menu-container-links button {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.toggle-menu-container-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.toggle-menu-container-cta button {
    padding: 0.5rem 2rem;
    color: #004600;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    background: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;    
}


.socials  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.socials p {
    color: #fff;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;  
    font-family: var(--font-family);
}

.bg-leaf {
    overflow: hidden;
}

.bg-leaf img {
    z-index: -1;
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
}

/* ----------------------------------------------
MEDIA QUERIES
 * ---------------------------------------------- */

@media screen and (max-width: 1050px) {
    .navbar-links-container  {
        display: none;
    }

    .toggle-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .navbar {
        padding: 2rem 4rem;
    }
   
}

@media screen and (max-width: 550px) {
    .navbar {
        padding: 2rem;
    }

    .navbar-links-container, .navbar-right {
        display: none;
    }

    .toggle-menu-container  {
        top: 50px;
    }
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  