@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
    --font-family: 'Inter', sans-serif;

    --color-bg: #004600;
    --color-footer: #004600;
    --color-text: #F0FFF0;
    --color-subtext: #FFED4E;

    --gradient-bg: radial-gradient(circle at 11% 14%, rgba(2, 100, 14, 1) 0%, rgba(0, 70, 0, 1) 63%);
}


